#biography-soft-skills{
    flex-basis: 100%;
}

#about-container h3,
#about-container h4{
    font-weight: bold;
}

#about-container h3{
    max-width: 100%;
}

#biography p{
    font-size: 1.1rem;
}

#biography > p:nth-child(2){
    margin-bottom: 10px;
}

#about-presentation .card{
    margin-bottom: 20px;
}

#biography-more-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

#biography-more-info > .biography-element{
    margin-bottom: 30px;
    height: fit-content;
}

#button-know-more{
    height: 40px;
}

#biography-more-info{
    flex-direction: row;
    flex-wrap: wrap;
}

.biography-element{
    padding-left: 5px;
    flex-basis: 100%;
    margin-bottom: 20px;
}

.biography-element ul{
    padding-left: 35px;
}

.biography-element li > p{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
}

.biography-element:not(#biography-skills) li > p span:nth-child(2){
    position: absolute;
    left: -30px;
}

.biography-element:not(:first-child) span:first-child {
    opacity: 0.5;
}

#biography-education li p:first-child{
    margin: 0;
}

#biography li p{
    margin-bottom: 5px;
}

#biography li p svg{
    width: 25px;
    height: 25px;
}

#biography li p:nth-child(n+2) > span{
    opacity: 0.5;
}

#biography-skills ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

#biography-skills li p{
    display: flex;
    margin-right: 5px;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

#biography-skills li p span:nth-child(2){
    display: flex;
}

#biography-skills li p span:first-child{
    opacity: 1;
    color: white;
}

#biography-skills li p:has(span.hard-skill-icon.javascript) span:first-child{
    opacity: 0.7;
    color: black;
}

#biography-skills li p span.hard-skill-icon.javascript{
    opacity: 0.7;
    color: black;
}

#biography-skills li p span.hard-skill-icon.svelte{
    width: 25px;
}

.biography-element li p > *{
    margin-right: 5px;
}

#know-me-more-container{
    max-width: 300px;
    margin: 0 auto;
}

#know-me-more-container > p{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.1rem;
}


@media only screen and (min-width: 576px){
    #biography-education{
        flex-basis: 100%;
    }

    #biography-interests{
        flex-basis: 50%;
        padding-right: 5px;
    }

    #biography-skills{
        flex-basis: fit-content;
    }
}

@media only screen and (min-width: 769px) {
    #biography-more-info{
        justify-content: space-between;
    }

    #biography-interests{
        flex-basis: 50%;
        max-width: 300px;
    }

    #biography-skills{
        flex-basis: fit-content;
    }

    #biography-soft-skills{
        flex-basis: 50%;
    }
}